.Calender .nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Calender .day-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
}

.Calender .monthname {
  font-size: 20px;
  margin: 10px;
}
